.h1{text-align: justify;
text-decoration: wavy;}
p{text-align: justify;
    color: black;
    font-size: larger;
    font-family: sans-serif;
}
h2{font-style: italic;
    font-family: sans-serif;
    font-family: sans-serif;
}
h4{font-style: italic;
   }
body{background-color: aqua;
}
img{align-items: center;
}
.intro {font-style: italic;
        color: black;
        font-weight: bold;
        float: right;
}
.img{
    align-content: flex-end;    
}
h5{font-size: larger;
font-family: sans-serif;
font-weight: 200;}
.section {background-color: azure;
    border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  border: 2px solid red;
  padding: 6px;
  margin: 20px;
  background-color: yellow;
}
.line1 {color: brown;}
.important {
    color: red;
  }
  .unimportant {
    color: blue;
  }
  .Main{width: 300px
;
  .list{
      font-weight: bold;
      }
      .img{
          border-left: 2px solid red;
        border-right: 4px solid blue;
        border-top: 6px solid orange;
        border-bottom: 8px solid black;
    }
   
  